<% include ../blocks/head %>

<div class="dashb-header">
    <ul class="dashb-info">
        <li><h2>My App</h2></li>
        <li><p><%= new Date().toDateString() %></p></li>
        <li><a href="#"><i class="fas fa-plus"></i> Quick link</a></li>
    </ul>
    <ul class="dashb-tools">
        <li><p>Hi <%= user %>!</p></li>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>
<div class="dashb">
    <div class="dashb-panel">
        <ul class="dashb-panel_list">
            <li class="dashb-panel_item">
                <a href="/admin">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li class="dashb-panel_item">
                <a href="#">
                    <i class="fas fa-user"></i>
                    Users
                </a>
            </li>
        </ul>
    </div>
    <div class="dashb-main">
        <% if (board === "main") { %>
            <% include ../blocks/dashboard-main %>
        <% } else if (board === "users") { %>
            <% include ../blocks/dashboard-users %>
        <% } %>
    </div>
</div>

<% include ../blocks/footer %>