<% include ../main/header %>

<h1>Create user</h1>
<form action="/users/create" method="POST">
    <p>
        <label for="username">Userneame</label></br>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password">Password</label></br>
        <input type="text" name="password" id="password">
    </p>
    <input type="submit">
</form>

<% include ../main/footer %>