<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <h5 class="card-header">Users</h5>
                <div class="card-body">
                    <h5 class="card-title">Registered users</h5>
                    <p class="card-text"><%= data.userCount %></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h5 class="card-header">Overview</h5>
                <div class="card-body">
                    <h5 class="card-title">Overview title</h5>
                    <p class="card-text">Overview text</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h5 class="card-header">Overview</h5>
                <div class="card-body">
                    <h5 class="card-title">Overview title</h5>
                    <p class="card-text">Overview text</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <% include ../blocks/todo %>
    </div>
</div>
