// Variables

/*
 * Base font family
*/

$base-font-family: Arial, sans-serif !default;

/*
 * Base line height
*/

$base-line-height: 1.5 !default;

/*
 * Base colors
*/

$color-white: #ffffff !default;
$color-black: #000000 !default;

/*
 * Other
*/

$dashb-header-height: 50px;